# Python requirements that will be installed using `pip` when the container is
# built. Since the appengine application is the only app on the container we
# care about, we won't bother with a virtualenv, instead installing the
# packages system-wide.
#
# NOTE: These packages are only those required for testing or other
# development purposes. Those libraries required at runtime *MUST* be
# installed into the `app/third_party/py/` directory and committed to source
# control.

coverage==3.7.1
factory-boy==2.8.1
ipaddress==1.0.18
ipython==2.2.0
lxml==3.4.1
mock==1.0.1
nose==1.3.4
pytest==3.0.6
pytest-cov==2.4.0
yanc==0.2.4
WebTest==2.0.25
